<div class="jumbotron">
  <h1><%=t 'partials.how_it_works.heading' %></h1>
  <div class="w610">
    <p><%=t 'partials.how_it_works.description' %></p>
    <p><%= link_to t('partials.how_it_works.about_page_link'), page_path(:about) %></p>
  </div>
</div>
