<div class="jumbotron">
  <h1><%=t 'partials.splash.heading1' %></h1>
  <h1><%=t 'partials.splash.heading2' %></h1>
  <h1><%=t 'partials.splash.heading3' %></h1>
  <div id="Submission" class="line"></div>
  <h4><%=t 'partials.splash.heading4' %></h4>
</div>
