<div id='survey_popover' class="popover left" style="display: none;">
  <div class="arrow"></div>
  <a href="#" class="close pull-right">&times;</a>
  <h3 class="popover-title"><%=t 'survey.heading' %></h3>
  <div class="popover-content">
    <p><%=t 'survey.blurb' %></p>
    <p><a target='_new' href='http://www.surveymonkey.com/s/FZQN9BT'><%=t 'survey.link' %></a></p>
  </div>
</div>
