<%= simple_form_for @delivery, :html => { :novalidate => true, :class => 'form-horizontal' } do |f| %>
  <% unless f.error_messages.blank? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= f.error_messages %>
    </div>
  <% end %>

  <%= f.input :manager %>
  <%= f.button :submit, :class => "btn btn-large btn-primary" %>
<% end %>
