<style>
  #main-div {
    min-height: 400px;
  }
</style>
<div class='row-fluid info-grid'>
  <div class="span6">
    <p>Aybolit is a collaborative project between <b>Transparency International Ukraine</b> and <b>Heath Morrison</b>.</p>
  </div>
  <div class="span6" style="text-align: right">
    <h1>About Aybolit</h1>
  </div>
</div>
<hr/>
<div class='row-fluid info-grid'>
  <div class="span3">
    <h3>Contributors</h3>
  </div>
  <div class="span8">
    <p><u>Concept &amp; Implementation:</u></p>
    <ul>
      <li>Heath Morrison</li>
      <li>Olena Kifenko</li>
      <li>Mike Runey</li>
    </ul>

    <p><u>Hackathon Contributors</u>:</p>
    <ul>
      <li>Tanel Kärp, Site Design</li>
      <li>Francesco Merletti, Prototyping</li>
    </ul>

  </div>
</div>
<hr/>
<div class='row-fluid info-grid'>
  <div class="span3">
    <h3>Special Thanks</h3>
  </div>
  <div class="span8">
    <p>And <b><u>last but not least</u></b>, endless thanks to the following people within Transparency International for their endless support:</p>
    <ul>
      <li>Milena Marin</li>
      <li>Mara Mendes</li>
      <li>Karolis Granickas</li>
    </ul>
  </div>
</div>
<div class="line" style="margin-top: 15px;"></div>
