<style>
  #main-div {
    min-height: 400px;
  }
</style>
<div class='row-fluid info-grid'>
  <div class="span8">
    <p>Aybolit is a platform for identifying and promoting the most ethical healthcare providers in the Ukrainian public health care system. We collect stories and experiences from patients that meet a very specific criterion: they must be <strong>positive experiences</strong> that did not require any sort of bribe, fee, or gift from the patient.</p>
  </div>
  <div class="span3">
    <h1>About Aybolit</h1>
  </div>
</div>
<div class='row-fluid info-grid'>
  <div class="span3">
    <h3>Collecting Stories. Promoting Doctors.</h3>
  </div>
  <div class="span8">
    <p>We believe very strongly that by <strong>promoting ethical behavior</strong> within our healthcare system, we can demonstrate to patients and medical professionals on how well our public health system can perform, without resorting to laying guilt or blame on individuals for flaws and defects in the system. </p>
  </div>
</div>
<div class="line" style="margin-top: 15px;"></div>
