<div class="well">
  <h1>Identification Failure</h1>
  <p>Your attempt at identification has unfortunately failed catastrophically. Please try again?</p>
  <p><%= link_to image_tag("fb_btn.png"), "/auth/facebook" %></p>
  <p><%= link_to image_tag("vk_btn.png"), "/auth/vkontakte" %></p>
</div>

