<style>
  #main-div {
    min-height: 400px;
  }
  h1 {
    margin-bottom: 20px;
  }
</style>
<div class='row-fluid info-grid'>
  <div class="span8">
    <h1><%=t 'patients_rights.title' %></h1>
    <%= simple_format(t 'patients_rights.body') %>
  </div>
</div>
