<style>
  #main-div {
    min-height: 400px;
  }
</style>
<div class='row-fluid info-grid'>
  <div class="span8">
    <p>
    Якщо у вас виникнуть питання, які ви не зможете вирішити самостійно або на рівні 
    медичного закладу, зверніться за допомогою до:</p>
    <ol>
      <li>Обласне управління охорони здоров’я – 24-13-14 (начальник відділу лікувально-профілактичної допомоги дорослому населенню Олександр Анатолійович Скрипник).</li>
      <li>Міське управління охорони здоров’я – 22-16-14 (начальник відділу лікувально-профілактичної допомоги, Лариса Мирославівна Кудрик).</li>
      <li>Кіровоградська обласна благодійна організація «Відкрите серце» - 27-28-26 (діяльність у сфері захисту прав пацієнтів – голова правління Аліна Ярославська).</li>
      <li>Всеукраїнська Гаряча лінія з питань туберкульозу – 0-800-503-080.</li>
      <li>Всеукраїнська Гаряча лінія з питань ВІЛ/СНІДу – 0-800-500-451.</li>
    </ol>
  </div>
</div>
