<div class='query_result row-fluid'>
  <div class="doctor_info_block offset3 span6">
    <div class="exp_icon_right"><%= doctor.num_reports %></div>
    <div class="doctor_info">
      <p><%= link_to doctor.name, doctor %></p>
      <p class="small_text"><%= doctor.hospital.full_address %></p>
    </div>
  </div>
</div>
