<div id="submission_panel_0" class="submission_panel current">
  <p class="center_text"><%= link_to t('submissions.prereq_form.submit_button'), "#", :id => "submit_step0", :class => "red_btn" %></p>
</div>
