<div id="submission_panel_1" class="submission_panel current">
  <ul class="check_list">
    <li><div><input type="checkbox" class="niceCheck" id="step1_check1" tabindex="1" /> <label for="step1_check1"><%=t 'submissions.prereq_form.prereq1' %></label></div></li>
    <li><div><input type="checkbox" class="niceCheck" id="step1_check2" tabindex="2" />  <label for="step1_check2"><%=t 'submissions.prereq_form.prereq2' %></label></div></li>
  </ul>
  <p class="center_text"><%= link_to t('submissions.prereq_form.submit_button'), "#", :id => "submit_step1", :class => "red_btn" %></p>
</div>
