<div id="submission_panel_1" class="submission_panel">
  <p><%= t 'complaint_form.bribe_given_label' %></p>
  <label class="checkbox inline" for="prereq_check_true">
    <input id="prereq_check_true" name="prereq_check" type="radio" /> <%=t 'controls.option_yes' %>
  </label>
  <label class="checkbox inline" for="prereq_check_false">
    <input id="prereq_check_false" name="prereq_check" type="radio" /> <%=t 'controls.option_no' %>
  </label>

  <p class="center_text"><%= link_to "Continue", "#", :id => "submit_step1", :class => "red_btn" %></p>
</div>
